.ColorPicker{
  display: inline-flex;
  align-items: center;
  width: 120px;
  max-width: 120px;
  padding: 4px 12px;
  border: var(--input-border);
  border-radius: var(--global-radius);
}
.ColorPicker input[type="text"] {
  border: none;
  width: 100%;
  padding: 0;
  background-color: transparent;
}
.ColorPicker input[type="text"]:focus {
  outline: none;
}

.ColorPicker input[type="color"] {
  border: none;
  background: none;
  height: 25px;
  width: 29px;
  margin-right: 8px;
}
@media(max-width: 450px){
  .ColorPicker{
    padding: 4px 6px;
  }
  .ColorPicker input[type="color"]{
    margin-right: 4px;
  }
}